<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="#" alt="" title="Link1">Link1</a></li>
            <li class="footer__item"><a class="footer__link" href="#" alt="" title="Link1">Link2</a></li>
            <li class="footer__item"><a class="footer__link" href="#" alt="" title="Link1">Link3</a></li>
            <li class="footer__item"><a class="footer__link" href="#" alt="" title="Link1">Link4</a></li>
        </ul>
    </nav>
    <nav class="footer__nav--media">
        <ul class="footer__list--media">
            <li class="footer__item"><a class="footer__link--media" href="#" alt="" title="Link1">Fb</a></li>
            <li class="footer__item"><a class="footer__link--media" href="#" alt="" title="Link1">Tw</a></li>
            <li class="footer__item"><a class="footer__link--media" href="#" alt="" title="Link1">G+</a></li>
        </ul>
    </nav>
</footer>