<header class="header">
    <div class="header__title">
        <img class="header__logo" src="./assets/images/logo.png" alt="logo" title="Logo">
        <h1 class="header__name">Layoutdeejemplo</h1>
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item"><a class="header__link" href="#" alt="" title="Link1">Link1</a></li>
            <li class="header__item"><a class="header__link" href="#" alt="" title="Link2">Link2</a></li>
            <li class="header__item"><a class="header__link" href="#" alt="" title="Link3">Link3</a></li>
            <li class="header__item"><a class="header__link" href="#" alt="" title="Link4">Link4</a></li>
        </ul>
    </nav>
</header>