    <section class="section">
        <article class="section__article--border">
            <h3 class="section__title">Lorem ipsum dolor sit amet</h3>
            <p class="section__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed a odit, odio iusto, dolor accusamus consectetur eum ab atque dolore ipsam beatae in similique voluptatum ad velit officia non. Hic!</p>
        </article>
        <article class="section__article--border">
            <h3 class="section__title">Lorem ipsum dolor sit amet</h3>   
            <p class="section__text--ident">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem dolor. Non vitae ab asperiores accusantium, facilis obcaecati fugit, provident libero incidunt doloribus soluta sint laboriosam atque dolore dicta laborum?</p>
        </article>
        <article class="section__article">
            <h3 class="section__title">Lorem ipsum dolor sit amet</h3>
            <p class="section__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque tenetur eius, placeat distinctio ullam dolores consectetur deserunt pariatur rerum aliquid quaerat quidem eaque maxime fuga.</p>
        </article>
    </section>
    