.footer{
    height: 15%;
    background-color: $color-bars;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    &__nav{
        background-color: $color-nav;

        &--media{
            background-color: $color-socialMedia;
        }
    }

    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 40px;

        &--media{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 40px;
        }
    }

    &__item{
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    &__link{
        padding: 10px 20px 10px 20px;
        font-family: $mainFont;
        color: $color-section;
        text-decoration: none;
        text-align: center;

        &:hover{
            background-color: $color-hover;
        }

        &--media{
            padding: 10px;
            font-family: $mainFont;
            color: $color-section;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

////////////////////////////////////////////////

@media all and (min-width: 1024px){
    .footer{
        height: 10%;
        flex-direction: row;
        justify-content: space-around;
        gap: 330px;

        &__link{
            padding: 10px;
        }
    }
}